[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "py scripts/auto_serv.py"
run = "py scripts/serv.py"

[packages]
twisted = {extras = ["tls"], version = "*"}
rich = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.11"
